#main-container {
    display: flex;
    align-items: center;
}

#carousel-container {
    box-sizing: border-box;
    border: 1px solid black;
    overflow: hidden;    
}

.carousel-inside-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10000px;   
}

.carousel-inside-container div {
    height: 100%;
}

.carousel-inside-container div img {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    /* display: flex; */
}

#carousel-container img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.chevron-right, .chevron-left {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
}

.chevron-right:hover, .chevron-left:hover {
    background-color: white;
    cursor: pointer;
}

.chevron-right {
    transform: translateX(-90px);
}

.chevron-left {
    transform: translateX(90px);
    z-index: 10;
}

.chevron-left svg {
    height: 10px;
    transform: rotate(90deg);
}

.chevron-right svg {
    height: 10px;
    transform: rotate(-90deg);
}
